/* COLOURS */
/* RESETS */
html,
body,
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  color: #FFFFFF;
  overflow-x: hidden;
  background: #8D07C8;
  background: -moz-linear-gradient(-45deg, #8D07C8 0%, #260F77 50%, #030B3A 100%);
  background: -webkit-linear-gradient(-45deg, #8D07C8 0%, #260F77 50%, #030B3A 100%);
  background: linear-gradient(135deg, #8D07C8 0%, #260F77 50%, #030B3A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8D07C8', endColorstr='${colourEnd}', GradientType=1);
}

/* GLOBE */
.globe {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.globe .globe-list {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  list-style: none;
}

.globe .globe-list {
  opacity: 0;
  -webkit-transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.globe .globe-list.active {
  opacity: 1;
}

.globe .globe-list > li {
  opacity: 0.4;
  position: absolute;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00FFD3;
  -webkit-transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.globe .globe-list > li.active {
  opacity: 1;
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
}

.globe .globe-list > li:before {
  content: "";
  opacity: 0.5;
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #00FFD3;
  -webkit-animation: 2s pulse infinite linear;
  -moz-animation: 2s pulse infinite linear;
  -ms-animation: 2s pulse infinite linear;
  -o-animation: 2s pulse infinite linear;
  animation: 2s pulse infinite linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
  }
}
@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -ms-transform: scale(2);
  }
}
@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -o-transform: scale(2);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
.globe .globe-list > li.active:before {
  margin-left: -12px;
  margin-top: -12px;
  width: 24px;
  height: 24px;
}

.globe .globe-list > li.active,
.globe .globe-list > li.active:before {
  background: #FFFFFF;
}

.globe .globe-list .text {
  position: absolute;
  opacity: 0.8;
  right: 21px;
  top: 50%;
  display: block;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  text-align: right;
  text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
  color: #FFFFFF;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.globe .globe-list > li.active .text {
  opacity: 1;
  right: 29px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.globe .globe-canvas {
  z-index: 0;
  position: absolute;
  left: 0;
  top: 0;
}
